@font-face {
    font-family: 'arconregular';
    src: url('./fonts/arcon-regular-webfont.woff2') format('woff2'),
         url('./fonts/arcon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    /* padronizando a medida rem */
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #C3E0E5;
    margin: 0;
    padding: 0;
    user-select: none;
}
